@using TennisNetwork.Helpers;
@model IEnumerable<TennisNetwork.Models.CreateEventViewModel>

<div class="panel panel-success">
    <div class="panel-heading">
        @{ ViewBag.Logged = User.Identity.IsAuthenticated ? "" : " - Log in to join new event."; }
        <strong>User calendar <span class="text-danger">@ViewBag.Logged</span></strong>
    </div>

    <table class="table table-responsive table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.Id)
                    @Html.DisplayFor(modelItem => item.EventType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <div class="pull-right btn">
                        @Html.GlyphiconActionLink("<span class='glyphicon glyphicon-ok'></span>", "Join", "Join", "Events",
                            routeValues: new { pageNumber = @ViewBag.PageNumber }, htmlAttributes: new
                            {
                                data_toggle = "modal",
                                data_target = "#joinEvent",
                                @class = "btn btn-success " + (User.Identity.IsAuthenticated ? "" : "disabled"),
                                id = "dialog-button-" + @item.Id
                            })
                    </div>
                </td>
            </tr>
        }

    </table>

    <!-- Join to event form, which is send by $.post. -->
    <form action="/Events/Join" id="joinForm">

        @Html.AntiForgeryToken()
        <input style="display: none" type="submit" value="Search">

    </form>

    <div class="panel-footer">Count = @ViewBag.Events</div>

    <!-- Modal join confirmation.-->
    <div class="modal fade" id="joinEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create new event</h4>
                </div>

                @*@using (Html.BeginForm("Create", "Events", FormMethod.Post))
                    {*@
                <div class="modal-body">
                    <p> Are you sure you want to join to this event?</p>
                    <p>It will be added to your calendar.@*&hellip; - 3dots*@</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button id="modalYes" type="button" class="btn btn-primary">Yes</button>
                </div>
                @*}*@

            </div>
        </div>

    </div>

    <!-- Modal join event taken. -->
    <div class="modal fade" id="takenEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Join new event</h4>
                </div>
                <div class="modal-body">
                    <p>This event was taken.</p>
                </div>
                <div class="modal-footer">
                    <button id="takenEventOk" type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<nav>
    <ul class="pagination eventPages">
        @*<li class="disabled" id="prev"><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>*@
        @{ string selectedPage = "active"; }
        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
            <li class="@selectedPage">
                @Ajax.ActionLink(i.ToString(), "UserCalendar", new { pageNumber = i, selectedUserId = @Model.FirstOrDefault().UserId },
                    new AjaxOptions
                    {
                        UpdateTargetId = "userCalendar",
                        OnComplete = "selectPageNumber(" + i + ", " + ViewBag.Pages + ")"
                    })
            </li>
            selectedPage = "";
        }
        @*<li id="next"><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>*@
    </ul>
</nav>

<script type="text/javascript">

    // Change pager selected page number.
    function selectPageNumber(pageNumber, pages) {
        $('.eventPages li[class=active]').removeClass('active');
        $('.eventPages li:contains("' + pageNumber + '")').addClass('active');
    }

    function onSuccess(result) {
        //debugger;
        window.location.replace(result.url);
    }

    var anchorIdArr, url, returnUrl;

    // Prevent join button click and show join event confirm dialog.
    $('table a').on('click', function (e) {
        anchorIdArr = $(this).attr('id').split('-', 3);
        //debugger;
        e.preventDefault();
        e.stopPropagation();
        //alert('prevented');
        $('#joinEvent').modal({
            backdrop: 'static',
            keyboard: true
        }, 'show');
    });

    // Modal joinEvent yes button clicked.
    $('#modalYes').on('click', function () {
        //debugger;
        $('#joinForm').trigger('submit');
    });

    // Attach a submit handler to the form when join event confirmed.
    $("#joinForm").submit(function (event) {

        // Stop form from submitting normally
        event.preventDefault();

        // Get some values from elements on the page:
        var $form = $(this),
        tokenValue = $form.find("input[name=__RequestVerificationToken]").val(),
        url = $form.attr("action");

        // Send the data using post
        //debugger;
        var posting = $.post(url, {
            '__RequestVerificationToken': tokenValue,
            eventId: anchorIdArr[2]
        });

        // Put the results in a div
        //posting.done(function (data) {
        //    var content = $(data).find("#content");
        //    $("#result").empty().append(content);
        //});
        posting.done(function (data) {
            returnUrl = data.url;
            //debugger;
            if (data.taken) {
                $('#joinEvent').modal('hide');
                $('#takenEvent').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
            }
            else {
                //debugger;
                $('#joinEvent').modal('hide')
                window.location.assign(returnUrl);
            }
        });

    });

    // If event is taken reload current page.
    $('#takenEventOk').click(returnUrl, function () {
        debugger;
        window.location.reload();
    })
</script>
