@model TennisNetwork.Models.CreateEventViewModel

@*<style>
        .modal-content {
            width: 500px !important;
            margin: 30px auto !important;
        }
    </style>*@

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Are you sure to delete this event?</h4>
</div>

<div class="modal-body">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @*@Html.HiddenFor(m => m.Id)*@
    @Html.Hidden("PageNumber")

    <div class="modal-footer">
        <button class="btn pull-left" type="button" data-dismiss="modal">No</button>
        <input class="btn btn-danger pull-left" type="submit" value="Yes" />
    </div>
}
@Scripts.Render("~/bundles/createEvent")