@{
    ViewBag.Title = "User calendar";
}
<h2>@ViewBag.Title</h2>

@*<style>
        .modal-content {
            /*width: 1000px !important;
            margin: 30px auto !important;*/
            margin: 0;
            position: absolute;
            /*top: 50%;*/
            /*left: -30%;*/
        }
    </style>*@

<!-- modal placeholder-->
<div id='myModal' class='modal fade'>
    <div class="modal-dialog">
        @*not in center of the window*@
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div id="userCalendar">
    @*@Html.Partial("_UserCalendar", Model)*@
    @{ Html.RenderAction("UserCalendar", "Events"); }
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


























@*<div class="col-md-6">
        <div class="form-group">
            @Html.Label("Date", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <div class="input-daterange input-group" id="datepicker">
                    @Html.TextBoxFor((m => m.StartDate), new { @class = "input form-control", @name = "start" })
                    <span class="input-group-addon">to</span>
                    @Html.TextBoxFor(m => m.EndDate, new { @class = "input form-control", @name = "end" })
                </div>
            </div>
        </div>
    </div>*@
